[submodule "example/extern/qwindowkit"]
	path = example/extern/qwindowkit
	url = https://github.com/stdware/qwindowkit.git
[submodule "lib/extern/json"]
	path = lib/extern/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/extern/FastGaussianBlur"]
	path = lib/extern/FastGaussianBlur
	url = https://github.com/bfraboni/FastGaussianBlur.git
