[submodule "example/lib/qwindowkit"]
	path = example/lib/qwindowkit
	url = https://github.com/stdware/qwindowkit.git
[submodule "vanillastyle/lib/json"]
	path = vanillastyle/lib/json
	url = https://github.com/nlohmann/json.git
[submodule "vanillastyle/lib/FastGaussianBlur"]
	path = vanillastyle/lib/FastGaussianBlur
	url = https://github.com/bfraboni/FastGaussianBlur.git
